@font-face {
  font-family: "ProductSansBold";
  src: url("assets/fonts/Product Sans Bold.ttf")  format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "ProductSansRegular";
  src: url("assets/fonts/Product Sans Regular.ttf")  format("truetype");
}

html, body {
  scroll-behavior: smooth; 
  margin: 0px;
  padding: 0px;
} 

#bodyContainer {
  display:block;
}
#rotateMessage{
  display:none;
}

@media all and (orientation:portrait){
  #page{
      display:none;
    }
  #rotateMessage{
    display:block;
  }
}

.message{
  font-family: 'ProductSansBold';
  padding: 6vw;
  font-size: 9vw;
  animation: revealIn 1s forwards;
  text-align: center;
  color: black;
}

.messageLink{
  font-family: 'ProductSansBold';
  padding: 4vw;
  font-size: 3.9vw;
  animation: revealIn 1s forwards;
  text-align: center;
  color: black;
  transition: 0.4s;
}

.messageLink:hover{
	opacity:0.5;
}